<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
  </head>
  <body class="container">
    <div
      class="container d-flex justify-content-between align-items-center my-3"
    >
      <h1>Usuarios</h1>
    </div>

    <div>
      <form action="/usuarios/nuevo" method="POST">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            required
          />
        </div>

        <div class="mb-3">
          <label for="apellido" class="form-label">apellido</label>
          <input
            type="text"
            class="form-control"
            id="apellido"
            name="apellido"
            required
          />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Crear</button>
      </form>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
